/* src/Chat.css */
@import './colors.css';

.chat-container {
    display: flex;
    flex-direction: column;
    min-height: 81.5vh;
    max-width: 800px;
    width: 100%;
    height: 100%;    
    margin: 0 auto;
    border: 1px solid var(--chat-container-border-color);
    font-family: Arial, sans-serif;
    margin-top: 60px;
    margin-bottom:120px;
    border-radius: 20px;
  }
  
  .messages-container {
    flex: 1;
    padding: 10px;
    background-color: var(--message-container-background-color);
    border-radius: 20px;
    background-color: var(--chat-message-container-background-color);
  }
  
  .message-row {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
  }
  
  .message-row-user {
    justify-content: flex-end;
  }
  
  .message-row-ai {
    justify-content: flex-start;
  }
  
  .message-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 5px;
  }
  
  .message-circle-user {
    background-color: var(--message-circle-user-background-color);
    margin-left: 10px;
  }
  
  .message-circle-ai {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
    background-color: var(--message-circle-ai-background-color); /* Background color for the circle */
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Space between the icon and message text */
  }
  
  /* Style for the AI icon */
  .ai-icon {
    width: 30px; /* Size of the icon */
    height: 30px; /* Size of the icon */
    filter: var(--message-circle-ai-icon-color);/* Invert the color and add a shadow */
  }
  
  .message-content {
    max-width: 70%;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
  }
  
  .message-user {
    background-color: var(--message-user-background-color);
    color: var(--message-user-text-color);
  }
  
  .message-ai {
    max-width: 100%;
    background-color: var(--message-ai-background-color);
    color: var(--message-ai-text-color);
  }
  
  .message-spacer {
    width: 30px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--chat-input-container-border-color);
    position: fixed;
    bottom: 0;
    max-width: 780px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: var(--input-container-background-color);
  }
  
  .input-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input-container textarea {
    flex: 1;
    padding: 10px 10px;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
    border: 1px solid var(--input-container-textarea-border-color);
    border-radius: 10px;
    background-color: var(--input-container-textarea-background-color);
    color: var(--input-container-textarea-text-color);
    outline: none;
    height: 20px;
  }
  
  .upload-icon{
    width: 35px;
    height: 25px;
    filter: var(--upload-icon-color);
    opacity: 0.7;
    border-radius: 50%;
    transition: opacity 0.3s, filter 0.3s;
    /* background-color: rgba(0, 0, 0, 0.299); */
    /* padding: 5px; */
    /* margin-left: 5px; */
  }
  
  .upload-icon:hover{
    opacity: 1;
    cursor: pointer;
    filter: var(--upload-icon-color-hover);
  }

  .submit-icon{
    height: 30px;
    height: 30px;
    filter: var(--submit-icon-color);
    cursor: pointer;
    opacity: 0.7;
    background-color: var(--submit-icon-background-color);
    border-radius: 50%;
    margin-right: 5px;
    transition: opacity 0.3s, filter 0.3s;
  }

  .submit-icon:hover{
    opacity: 1;
    filter: var(--submit-icon-color-hover);
  }
  
  .input-container-upload-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .input-container-send-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .attached-files {
    /* margin-top: 5px; */
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  
  .attached-file {
    display: inline-block;
    margin-right: 5px;
    /* padding: 2px 5px; */
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;

  }
  