:root{

    --app-background-color: #222222;

    --navbar-background-color: #222222;
    --navbar-text-color: white;
    --navbar-profile-photo-background-color: #272742;
    --navbar-profile-photo-border-color: rgb(0, 0, 0);

    --sidebar-background-color: #222222;
    --sidebar-box-shadow-color: rgba(0,0,0,0.5);
    --sidebar-text-color: white;
    --sidebar-close-btn-background-color: #444;
    --sidebar-close-btn-text-color: white;

    --chat-container-border-color: transparent;
    --chat-input-container-border-color: #606060;

    --chat-message-container-background-color: transparent;
    --message-container-background-color: #f9f9f9;

    --message-circle-user-background-color: #646464;
    --message-user-background-color: #646464;
    --message-user-text-color: white;

    --message-circle-ai-background-color: #454545;
    --message-ai-background-color: #454545;
    --message-ai-text-color: rgb(255, 255, 255);
    
    --input-container-background-color: #2f2f2f;
    --input-container-textarea-border-color: transparent;
    --input-container-textarea-background-color: transparent;

    --footer-background-color: #414141;
    --footer-text-color: white;


    --scrollbar-track: #1c1c1c; /* Very Dark Gray */
    --scrollbar-thumb: #404040; /* White */
    --scrollbar-thumb-hover: #39ff14; /* Neon Green */

}
