/* src/Footer.css */
.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 0px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure the footer is above other content */
  }
  