/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    padding: 5px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Make sure the navbar is above other content */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--navbar-profile-photo-background-color);
    border: 2px solid var(--navbar-profile-photo-border-color);
    /* Replace the background-color with an image for the actual profile photo */
    /* background-image: url('path_to_profile_photo.jpg'); */
    background-size: cover;
    background-position: center;
  }
  