/* src/styles/NewDropdown.css */

.new-dropdown {
    position: relative;
    width: 100%;
    font-family: Consolas, monospace;
    user-select: none;
  }
  
  .new-dropdown.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  
  .dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(120, 120, 120, 0.454);
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px; /* Keep all corners rounded */
  }
  
  .dropdown-selected {
    display: flex;
    align-items: center;
  }
  
  .dropdown-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .dropdown-label {
    color: #ffffff;
  }
  
  .dropdown-placeholder {
    color: #999;
  }
  
  .dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #333;
    transition: transform 0.3s;
  }
  
  .dropdown-arrow.open {
    transform: rotate(180deg);
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%; /* Position directly below the header */
    left: 0;
    width: 100%;
    max-height: 150px; /* Limit height to approx. 4 items */
    overflow-y: auto;
    background-color: #56565677;
    border: 1px solid #cccccc72;
    border-top: none; /* Remove top border to eliminate gap */
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-radius: 10px 10px; /* Rounded bottom corners */
    margin-top: 1px; /* Overlap borders to eliminate gap */
    
    /* Custom scrollbar styles */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #999 transparent; /* For Firefox */
  }
  
  .dropdown-list::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .dropdown-list::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  .dropdown-list::-webkit-scrollbar-thumb {
    background-color: #999; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Roundness of the scrollbar thumb */
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(102, 0, 0, 0);
  }
  
  .dropdown-item:hover {
    background-color: rgba(182, 182, 182, 0.359);
  }
  
  /* Style the option with logo */
  .option-with-logo {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .option-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .option-label {
    color: #ffffff;
    padding-right: 10px;
  }
  