/* src/styles/SettingsModels.css */

.settings-models-container {
  position: relative; /* To position absolute elements inside */
  /* padding: 20px; Add some padding if needed */
}

.setting-item {
  display: block;
  width: 100%;
  margin-bottom: 30px; /* Add space between items */
}

.setting-title {
  margin-bottom: 8px;
  font-weight: 100;
  color: #cdcdcd; /* Light gray text */
  font-size: 15px;
}

/* Style for the save status message */
.save-status-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font: 5px;
}

.save-status-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.save-status-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Container for the save button to position it at the bottom right */
.save-button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 80px;
}

/* Style for the save button */
.save-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s; /* Smooth transition on hover */
}

.save-button:hover {
  background-color: #004692; /* Darker blue on hover */
}
