.sidebar {
    width: 250px;
    position: fixed;
    left: -250px; /* Start off-screen */
    top: 0;
    height: 100vh;
    background-color: var(--sidebar-background-color);
    box-shadow: 2px 0 5px var(--sidebar-box-shadow-color);
    transition: left 0.3s ease;
    z-index: 10000;
    border-radius: 0px 15px 15px 0px;
  }
  
  .sidebar.open {
    left: 0; /* Move into view */
  }
  
  .sidebar-content {
    color: var(--sidebar-text-color);
    padding: 20px;
  }
  
  .close-btn {
    display: block;
    padding: 5px 10px;
    margin: 10px;
    background-color: var(--sidebar-close-btn-background-color);
    color: var(--sidebar-close-btn-text-color);
    border: none;
    cursor: pointer;
  }
  